.fab-container {
  position: fixed;
  text-align: center;
  bottom: 2rem;
  .right {
    right: 2rem;
    align-items: flex-end;
  }
  .left {
    left: 2rem;
  }
  left: 2rem;
  z-index: var(--z-controls);
  display: flex;
  flex-direction: column-reverse;
}

.fab-main {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 50%;
  border: 0.2rem solid #2381fc;
  background-color: var(--body-background);
  color: #61a0f3;

  cursor: pointer;
  box-shadow: 0 0 0.5rem #2381fc;
  transition: all 0.3s ease;
  align-content: center;
  i {
    font-size: 1.5rem;
    vertical-align: middle;
  }
}

.fab-main:hover {
  background-color: rgba(35, 129, 252, 0.1);
  box-shadow: 0 0 1rem #61a0f3;
}

.fab-menu {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  transition: all 0.3s ease;
}

.fab-menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* 서브 버튼 */
.fab-sub {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 50%;
  border: 0.2rem solid #2381fc;
  background-color: var(--body-background);
  color: #61a0f3;

  cursor: pointer;
  box-shadow: 0 0 0.3rem #2381fc;
  transition: all 0.2s ease;
  white-space: nowrap;

  i {
    font-size: 1.5rem;
    vertical-align: middle;
  }
}

.fab-sub:hover {
  background-color: rgba(35, 129, 252, 0.1);
  box-shadow: 0 0 0.6rem #61a0f3;
}

@media (max-width: 768px) {
  .fab-sub {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
