:root {
  --z-node-container: 1;
  --z-edge-container: 0;
  --z-edge: 5;
  --z-node: 6;
  --z-label: 10;
  --neon-shadow: 0 0 0.5vw #61a0f3, 0 0 1vw #61a0f3, 0 0 1.5vw #61a0f3, 0 0 2vw #61a0f3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0d0d0d;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.main-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #0d0d0d 0%, #1a1a1a 100%);
  padding: 0 5vw;
}

.main-intro-content {
  text-align: center;
}

.main-intro-title {
  font-size: clamp(1.5rem, 4vw, 3rem);
  color: #61a0f3;
  text-shadow:
    0 0 1vw #61a0f3,
    0 0 2vw #38639c,
    0 0 3vw #3688f3;
}

.highlight-name {
  color: #61a0f3;
  font-weight: 600;
  text-shadow: 0 0 0.5vw #61a0f3;
}

.main-intro-subtext {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #cccccc;
}

.main-page .react-flow__handle {
  background: transparent;
  border-width: 0;
}

.main-intro-button {
  margin-top: 2vh;
  padding: 0.5vh 1vw;
  width: clamp(80px, 20vw, 150px);
  height: clamp(28px, 4vh, 40px);
  text-align: center;
  font-size: clamp(0.7rem, 1vw, 0.9rem);
  color: #fff;
  background-color: transparent;
  border: 0.2vw solid #61a0f3;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow:
    0 0 1vw #61a0f3,
    inset 0 0 1.5vw #61a0f3;
}

.main-intro-button:hover {
  background-color: #61a0f3;
  color: rgba(255, 255, 255, 0.8);
  box-shadow:
    0 0 2vw #61a0f3,
    0 0 3vw #61a0f3;
}

.typewriter {
  color: #61a0f3;
  font-size: clamp(0.9rem, 1.2vw, 1rem);
  letter-spacing: 0.2em;
  white-space: pre;
  display: inline-block;
  position: relative;
}

.typewriter .cursor {
  display: inline-block;
  color: #61a0f3;
  animation: blink 1s step-end infinite;
  position: absolute;
  right: -0.5em;
  top: 0;
}

.control-container {
  display: flex;
  gap: 1.5rem;
}
.edge-label-container {
  border: 1px solid #ddd;
  box-shadow: var(--neon-shadow);
  border-radius: 3px;
  font-size: 12px;
  pointer-events: auto;
  z-index: var(--z-edge-container);
  min-width: 50px;
  min-height: 20px;
}
.edge-label-container:hover {
  background-color: #ececec;
}

.edge-label {
  position: relative;
  z-index: var(--z-label);
  min-width: 5px;
  min-height: 1rem;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.neon-node {
  box-shadow: var(--neon-shadow);
  background: transparent;
  color: #2381fc;
  border-radius: 4px;
  border-color: #ccc;
  border-style: solid;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.neon-node.waiting {
  border-color: #ccc;
}

.neon-node.running {
  border-color: #4caf50;
  border-style: dotted;
}

.neon-node.done {
  border-color: #4caf50;
  color: #4caf50;
}

.neon-node.startWaiting {
  border-color: #e7e7e7;
}

.neon-node.active {
  border-color: green;
  color: green;
  /* background: #e6ffe6; */
}

/* 노드선택  */
.neon-node.selected {
  border-color: rgb(0, 119, 255);
  background: rgb(0 60 255 / 42%);
  box-shadow:
    0 0 8px rgb(0, 119, 255),
    0 0 15px rgb(230 239 249),
    0 0 20px rgb(0, 119, 255);
  color: white;
  font-weight: bold;
}

/*컨트롤 버튼들 영역*/
.control-button-container {
  width: 100%;
  min-height: 8vh;
  padding: 2vh 3vw;
  flex-wrap: wrap;
  gap: 2vw;
}

.control-button-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: flex-end;
}

.control-button {
  background-color: transparent;
  border: 0.2vw solid #2381fc;
  color: #61a0f3;
  font-size: clamp(0.8rem, 1vw, 1rem);
  cursor: pointer;
  padding: 1vh 2vw;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  font-weight: bold;
  box-shadow: 0 0 0.5vw #2381fc;
}

.control-button-title {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: bold;
  color: #61a0f3;
  text-shadow: 0 0 0.5vw #61a0f3;
}

.control-button:hover {
  background-color: rgba(35, 129, 252, 0.1);
  box-shadow:
    0 0 8px #61a0f3,
    0 0 12px #61a0f3;
}

/*폼? 영역*/
.neon-panel {
  padding: 20px;
  background-color: #0a192f;
  border: 1px solid #2381fc;
  box-shadow: 0 0 15px #2381fc;
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Pretendard', sans-serif;
}

.neon-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #61a0f3;
  text-shadow: 0 0 5px #61a0f3;
}

.neon-form-group {
  margin-bottom: 16px;
}

.neon-label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #61a0f3;
}

.neon-input {
  width: 100%;
  padding: 8px;

  border-radius: 4px;

  color: #ffffff;

  transition: box-shadow 0.3s ease-in-out;
}

.neon-delete-button {
  margin-top: 20px;
  width: 100%;

  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.2s ease;
}

/**table**/
.custom-table {
  /* 레이아웃은 props로 뺴야할듯 */
  /* table-layout: fixed; */
  font-size: 1em;
  width: 100%;
  border-collapse: collapse;
  background: rgba(15, 42, 72, 0.6);
  border: 0.2vw solid #61a0f3;
  border-radius: 1rem;
  box-shadow: 0 0 1vw 0.2vw rgba(35, 129, 252, 0.7);
  color: #ffffff;
  overflow: hidden;
}

.custom-th {
  font-size: inherit;
  background: rgba(16, 47, 79, 0.8);
  padding: 1vh 1vw;
  border: 0.2vw solid #61a0f3;
  text-align: left;
  font-weight: bold;
  color: #61a0f3;
  /* 음 있는게 괜찮나 나중에 디자인 바꿀때 확인 필요 */
  text-shadow: 0 0 0.1vw #2381fc;
}

.custom-tr {
  font-size: inherit;
  transition:
    background 0.3s,
    transform 0.2s;
}

.custom-tr:hover {
  font-size: inherit;
  background: rgba(20, 54, 92, 0.8);
  transform: translateY(-0.3vh);
  box-shadow: 0 0 1vw #2381fc;
}

.custom-td {
  font-size: inherit;
  padding: 1vh 1vw;
  border: 0.1vw solid rgba(97, 160, 243, 0.5);
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .control-button-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .control-button-menu {
    justify-content: flex-start;
    width: 100%;
  }
  .custom-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
