:root {
  --z-node-container: 1;
  --z-edge-container: 0;
  --z-edge: 5;
  --z-node: 6;
  --z-label: 10;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #0d0d0d;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.main-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #0d0d0d 0%, #1a1a1a 100%);
}

.main-intro-content {
  text-align: center;
}

.main-intro-title {
  font-size: 2rem;
  color: #61a0f3;
  text-shadow:
    0 0 10px #61a0f3,
    0 0 20px #38639c,
    0 0 40px #3688f3;
}

.highlight-name {
  color: #61a0f3;
  font-weight: 600;
  text-shadow: 0 0 6px #61a0f3;
}

.main-intro-subtext {
  font-size: 1.5rem;
  color: #cccccc;
}
.main-page .react-flow__handle {
  /* display: none; */
  background: transparent;
  border-width: 0px;
}
.main-intro-button {
  /* margin-top: 2rem; */
  /* padding: 12px 24px; */
  top: -8px;
  position: relative;
  padding: 2px 1px;
  width: 100px;
  height: 32px;
  text-align: center;
  align-items: center;
  align-content: center;
  font-size: 0.8em;
  color: #fff;
  background-color: transparent;
  border: 2px solid #61a0f3;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow:
    0 0 10px #61a0f3,
    0 0 20px #61a0f3 inset;
}

.main-intro-button:hover {
  background-color: #61a0f3;

  color: rgba(255, 255, 255, 0.8);
  box-shadow:
    0 0 20px #61a0f3,
    0 0 30px #61a0f3;
}

.typewriter {
  color: #61a0f3;

  font-size: 1em;
  letter-spacing: 0.2em;
  white-space: pre;
  display: inline-block;
  position: relative;
}

.typewriter .cursor {
  display: inline-block;
  color: #61a0f3;
  animation: blink 1s step-end infinite;
  position: absolute;
  right: -0.5em;
  top: 0;
}

.control-container {
  display: flex;
  gap: 1.5rem;
}
.edge-label-container {
  padding: 4px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  pointer-events: auto;
  z-index: var(--z-edge-container);
  min-width: 50px;
  min-height: 20px;
}
.edge-label-container:hover {
  background-color: #ececec;
}

.edge-label {
  position: relative;
  z-index: var(--z-label);
  min-width: 5px;
  min-height: 1rem;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.neon-node {
  box-shadow:
    0 0 5px #61a0f3,
    0 0 10px #61a0f3,
    0 0 15px #61a0f3,
    0 0 20px #61a0f3;
  color: #2381fc;
  border-radius: 4;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

/*컨트롤 버튼들 영역*/
.control-button-container {
  width: 100%;
  /* height:60px; */
  min-height: 60px;
  padding: 10px 20px;
  flex-wrap: wrap;
  gap: 10px;
}
.control-button-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
}

.control-button {
  background-color: transparent;
  border: 1px solid #2381fc;
  color: #61a0f3;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-weight: bold;
  box-shadow: 0 0 5px #2381fc;
}
@media (max-width: 768px) {
  .control-button-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .control-button-menu {
    justify-content: flex-start;
    width: 100%;
  }

  .control-button {
    width: 100%;
  }
}

.control-button-title {
  font-size: 20px;
  font-weight: bold;
  color: #61a0f3;
  text-shadow: 0 0 5px #61a0f3;
}

.control-button:hover {
  background-color: rgba(35, 129, 252, 0.1);
  box-shadow:
    0 0 8px #61a0f3,
    0 0 12px #61a0f3;
}

/*폼? 영역*/
.neon-panel {
  width: 300px;
  padding: 20px;
  background-color: #0a192f;
  border: 1px solid #2381fc;
  box-shadow: 0 0 15px #2381fc;
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Pretendard', sans-serif;
}

.neon-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #61a0f3;
  text-shadow: 0 0 5px #61a0f3;
}

.neon-form-group {
  margin-bottom: 16px;
}

.neon-label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #61a0f3;
}

.neon-input {
  width: 100%;
  padding: 8px;

  border-radius: 4px;

  color: #ffffff;

  transition: box-shadow 0.3s ease-in-out;
}

.neon-delete-button {
  margin-top: 20px;
  width: 100%;

  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.2s ease;
}
