.neon-form-group {
  margin-bottom: 16px;
}

.neon-label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: var(--neon-shadow-color);
}

.neon-input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  color: #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}

.neon-delete-button {
  margin-top: 20px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.neon-panel {
  position: relative;
  background-color: #0a192f;
  border: 1px solid var(--neon-shadow);
  box-shadow: 0 0 15px var(--neon-shadow);
  border-radius: 8px;
  color: #ffffff;
  transition: width 0.3s ease;
  width: 480px;
  height: 100%;
}

.neon-panel.closed {
  width: 20px;

  .neon-panel-content {
    opacity: 0;
  }
}
.neon-panel.open {
  transform: translateX(0);
  .neon-panel-content {
    opacity: 1;
  }
}

.neon-panel-toggle {
  position: absolute;
  top: 50%;
  left: calc(-1rem + 0.15rem);
  transform: translateY(-50%);
  cursor: pointer;
  background: var(--non-panel-box-shadow);
  padding: 0.3rem;
  border-radius: 3px;
  box-shadow: 0 0 2px 1px var(--non-panel-box-shadow);

  /* z-index: 10000000; */

  i {
    vertical-align: middle;
  }
}

/* 패널 내부 콘텐츠 */
.neon-panel-content {
  padding: 20px;
  transition:
    opacity 0.8s,
    transition 0.4s;
}

/* 제목 */
.neon-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  color: var(--neon-shadow-color);
  text-shadow: 0 0 5px var(--neon-shadow-color);
}

@media (max-width: 768px) {
  .neon-panel {
    width: 70%;
    max-width: 280px;
    height: 100%;
  }

  .neon-panel.closed {
    transform: translateX(calc(80% - 20px));
  }

  .neon-panel-side {
    /* 모바일에서 버튼 위치 조정 가능 */
  }
}
