.flow-container {
  display: flex;
  /* height: calc(100% - 60px); */
  height: 100%;
  width: 100%;
  /* gap: 20px; */
  flex-direction: row;
}

.flow-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.node-editor {
  width: 300px;
}

@media (max-width: 768px) {
  .flow-container {
    height: 100%;
    width: 100%;
  }

  .node-editor {
    width: 100%;
    height: 250px;
  }
}

.reactflow-wrapper {
  width: 100%;
  height: 100%;
}
